doctype html 
html 
    head 
        style 
            include ../static/style.css 
        script(src="https://kit.fontawesome.com/2bb9d8e391.js",crossorigin="anonymous")
        title This my transparent login tutrial 
    body 
        h1 This is my website.
        i(class="fa fa-user") 
